
<section class="pa3 center">
  <h2 class="tc pb3">Stories</h2>
  <%= for post <- @posts do %>
    <article class="ph3 pb3 bb b--black-20">
          <%= markdown String.slice(post.content, 0, 325) <> "..." %>
        <a href="/posts/<%= post.id %>" class="pa0 f5 f4-l lh-copy">Read this story</a>
        <%= render Healthlocker.ComponentView, "like.html", conn: @conn, post: post,
          current_user: @current_user %>
    </article>
  <% end %>
</section>
