<%= form_for @changeset, post_path(@conn, :create), fn f -> %>
  <div class="center">
    <h3 class="tc bg-near-white pv2 mh3 black-70">Post a story or tip</h3>
    <div class="mh4">
      <%= textarea f, :content, placeholder: "Content", class: "w-100 h4 mb2 b--light-blue f4 pa2" %>
      <%= submit "Comment", class: "fr hl-bg-yellow b--black-10 hl-dark-blue b pv1" %>
    </div>
  </div>
<% end %>
