<div id="<%= dom_id(@message) %>" class="<%= classes(@message, @current_user_id) %>">
  <small class="dib fr i"><time><%= sent_at(@message) %></time></small>
  <div class="sender f6 f5-ns fw6 lh-title mv0"><%= user_name(@message) %></div>
  <p class="message-body f5 lh-copy measure-wide ma0">
    <%= @message.body %>
  </p>
</div>
