<div id="<%= dom_id(@message) %>" class="<%= classes(@message, @current_user_id) %>">
  <small class="dib fr i"><time><%= sent_at(@message) %></time></small>
  <p class="message-body f5 lh-copy measure-wide ma0">
    <%= @message.body %>
  </p>
</div>
