<div class="ma3 ma4-m ma4-l">
  <%= h2_header "Sleep tracker" %>

  <%= render "form.html", changeset: @changeset,
                          action: sleep_tracker_path(@conn, :create),
                          conn: @conn %>
</div>
