<div class="ma3 ma4-m ma4-l">
  <h2 class="tc">Sleep tracker</h2>

  <%= render "form.html", changeset: @changeset,
                          action: sleep_tracker_path(@conn, :create),
                          conn: @conn %>
</div>
