<h2>Listing user</h2>

<table class="table">
  <thead>
    <tr>
      <th>Email</th>
      <th>Password</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for user <- @user do %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.password_hash %></td

    </tr>
<% end %>
  </tbody>
</table>

<%= link "New user", to: user_path(@conn, :new) %>
