<div class="ma3 ma4-m ma4-l">
  <h2 class="tc">Sign up</h2>

  <%= render "form.html", changeset: @changeset,
                          action: user_path(@conn, :create),
                          conn: @conn %>
</div>
