<div class="ma3 ma4-m ma4-l">
  <%= h2_header "Sign up" %>

  <%= render "form.html", changeset: @changeset,
                          action: user_path(@conn, :create),
                          conn: @conn %>
</div>
