<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Healthlocker</title>
    <script src="https://use.fontawesome.com/6a9dd6f59e.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.6.1/css/tachyons.min.css"/>
    <link rel=stylesheet href="https://s3-us-west-2.amazonaws.com/colors-css/2.2.0/colors.min.css">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/fonts.css") %>">
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
    <link rel="icon" type="image/png" href="/images/favicon-hl-32x32.png">
    <link rel=”apple-touch-icon” href=”/images/apple-touch-icon.png”/>
    <link rel=”apple-touch-icon-precomposed” href=”/images/apple-touch-icon.png”/>
  </head>

  <body class="w-100 bg-white">
      <div class="bg-beta-yellow pa1">
        <div class="pa1">
          <p class="di">Beta</p> - <small>Improvements and features are in progress.
            <%= link "Give feedback", to: feedback_path(@conn, :index) %></small>
        </div>
      </div>

      <div class="container">
        <header id="header" class="hl-bg-aqua w-100 ph3 pv3 pv4-ns ph4-m ph5-l tc">
          <nav class="f4 fw3 tracked">
            <i id="open-nav" class="fa fa-bars dim white dib fl" aria-hidden="true"></i>
            <a href="/"><%= img_tag("/images/logo.png", class: "w-70") %></a>
          </nav>
        </header>

        <nav class="sidenav h-100 fixed z-1 top-0 left-0 hl-bg-dark-blue overflow-x-hidden tc" id="my-sidenav">
            <img id="close-nav" class="w2" src="https://cloud.githubusercontent.com/assets/1287388/22516970/75a7e0e6-e89f-11e6-89e0-ea0e57ddfede.png" alt="close nav">
          <%= link "Home", to: page_path(@conn, :index), class: "pa3 f3 white-80 db hover-white" %>
          <%= link "About", to: page_path(@conn, :show, "about"), class: "pa3 f3 white-80 db hover-white" %>
          <%= if @current_user do %>
            <%= link "Toolkit",  class: "pa3 f3 white-80 db hover-white",
                                 to: toolkit_path(@conn, :index) %>
           <p class="pa3 f3 white-80 db">------------</p>
          <%= else %>
            <%= link "Sign up", class: "pa3 f3 white-80 db hover-white",
                to: user_path(@conn, :new) %>
            <%= link "Log in", class: "pa3 f3 white-80 db hover-white",
                to: login_path(@conn, :index) %>
          <%= end %>
          <%= if @current_user do %>
            <%= link "Account", to: account_path(@conn, :index),
                      class: "pa3 f4 white-60 db hover-white" %>
            <%= link "Log out", class: "pa3 f4 white-60 db hover-white",
                                to: login_path(@conn, :delete, @current_user),
                                method: "delete" %>
          <% end %>
          <%= link "Get support", to: support_path(@conn, :index), class: "mt3 mh5 mh6-m mh7-l hl-bg-pink pv2 f3 white-80 db hover-white" %>
        </nav>

          <main id="body">
            <section class="h-100 pa3 pa5-ns bt b--black-10 bg-white">
              <section class="mw7 center">
                <p class="" role="alert"><%= get_flash(@conn, :info) %></p>
                <p class="ma3 ma4-m ma4-l" role="alert"><%= get_flash(@conn, :error) %></p>
                <%= render @view_module, @view_template, assigns %>
              </section>
            </section>
          </main>
          <footer id="footer" class="db hl-bg-aqua tc mt4 w-100">
            <%= link "About", to: page_path(@conn, :show, "about"), class: "f6 pt3 link dim white-80 dib mr3 mr4-ns" %>
            <%= link "Terms and conditions", to: page_path(@conn, :show, "terms"), class: "f6 link dim white-80 dib mr3 mr4-ns" %>
            <%= link "Privacy Statement", to: page_path(@conn, :show, "privacy"), class: "f6 link dim white-80 dib" %>
          </footer>

        </div>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
