<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Healthlocker!</title>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.6.1/css/tachyons.min.css"/>
    <link rel=stylesheet href="https://s3-us-west-2.amazonaws.com/colors-css/2.2.0/colors.min.css">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

  </head>

  <body class="w-100 sans-serif bg-white">
    <main>
      <header class="bg-blue fixed w-100 ph3 pv3 pv4-ns ph4-m ph5-l tc">

        <nav class="f6 fw6 tracked">
          <a class="link dim white dib mr3" href="#" title="Home">
            <h1>Healthlocker</h1>
          </a>
        </nav>
      </header>
      <section class="pa3 pa5-ns bt b--black-10 black-70 bg-white">
        <%= render @view_module, @view_template, assigns %>
      </section>
    </main>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
