<%= content_tag :div, id: "messages", data: [room_id: @room.id], class: "ba b--hl-aqua br3 h5 overflow-y-scroll overflow-x-hidden smooth-scroll mv3 ph3" do %>
<% end %>

<input id="message-input" class="pa3 input-reset bn hl-bg-grey w-60" placeholder="Type a message"/>
