<%= if @service_user == @user do %>
  <%= render Healthlocker.Caseload.UserView, "menu.html", assigns %>
<%= else %>
  <%= render Healthlocker.Caseload.UserView, "carer_menu.html", assigns %>
<% end %>
<%= render Healthlocker.RoomView, "_room.html", assigns %>
