<%= if @current_user do %>
  <%= if Enum.member?(@current_user.likes |> Enum.map(fn(p) -> p.id end), @post.id) do %>
    <%= img_tag("/images/Bookmark_selected.svg", class: "w1 h1") %>
  <%= else %>
    <%= link to: post_post_path(@conn, :likes, @post.id),
            method: "post", class: "db w1 h1" do %>
      <%= img_tag("/images/Bookmark_unselected.svg") %>
    <% end %>
  <%= end %>
<%= end %>
