<div class="ma3 ma4-m ma4-l mv2 mv3-m mv4-l">
  <%= render "menu.html", assigns %>
  <div class="mt5 pt1">
    <%= if !@current_user.slam_id do %>
      <h3><%= @service_user.first_name <> " " <> @service_user.last_name <> "'s care team" %></h3>
    <% end %>
  </div>
  <%= for member <- @care_team do %>
    <div class="w-100 hl-bg-grey pa3 mv3 br3">
      <p class="b di"><%= member."First_Name" <> " " <> member."Last_Name" %></p>
    </div>
  <% end %>
</div>
