<div class="ma3 ma4-m ma4-l mv2 mv3-m mv4-l">
  <h2 class="tc">Contacts</h2>
  <%= if !@current_user.slam_id do %>
    <h3><%= @service_user.name <> "'s care team" %></h3>
  <% end %>

  <h2 class="mv4">SLaM care team</h2>

  <%= for member <- @care_team do %>
    <div class="w-100 hl-bg-grey pa3 mv3 br3">
      <p class="b di"><%= member."First_Name" <> " " <> member."Last_Name" %></p>
    </div>
  <% end %>
</div>
