<h2>Show tip</h2>

<ul>

  <li>
    <strong>Value:</strong>
    <%= @tip.value %>
  </li>

  <li>
    <strong>Tag:</strong>
    <%= @tip.tag %>
  </li>

</ul>

<%= link "Back", to: tip_path(@conn, :index) %>
