/* This file is for your main application css. */

/*fonts*/
body {
  font-family: 'century-gothic', sans-serif;
  color: #242F4F;
  min-height: 100%;
  height: 100%;
}

button {
  border: none;
}

/*elements*/
a {
  outline: none;
}

input {
  height: 35px;
  background-color: #3D3D3D;
  opacity: 10%;
  border-radius: 5px;
}

input:focus, textarea:focus {
  outline: none;
  border:1px solid #25bdc3;
}

.link {
  display: inline-block;
}

.checkbox {
  width:20px;
  height:20px;
}

select:focus {
  outline: none;
  border:1px solid #25bdc3;
}

.sidenav {
    width: 0;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    text-decoration: none;
    transition: 0.3s;
    display: block;
}

.container {
  min-height:100vh;
  position:relative;
}

.text-wrap {
  word-wrap:break-word;
}

.smooth-scroll {
  -webkit-overflow-scrolling: touch;
}

#body {
  padding-bottom: 80px;
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:80px;
 }

/* color palette */
.hl-aqua {
  color: #25bdc3;
}

.hl-bg-aqua {
  background-color: #25BDC3;
}

.bg-beta-yellow {
  background-color: #FFED66;
}

.hl-pink {
  color: #EC4067;
}

.hl-bg-pink {
  background-color: #EC4067;
}

.hl-dark-blue {
  color: #242F4F;
}

.hl-bg-dark-blue {
  background-color: #242F4F;
}

.hl-grey {
  color: #EBEBEB;
}

.hl-bg-grey {
  background-color: #EBEBEB;
}

.hl-bg-yellow {
  background-color: #FDC300;
}

.hl-bg-success {
  background-color: #FEF3CC;
}

.hl-dark-grey {
  color: #242F4F;
  opacity: 50%;
}

.hl-bg-dark-grey {
  background-color: #3D3D3D;
}

.hl-terracotta {
  color: #ED6A5A;
}

.hl-bg-terracotta {
  background-color: #ED6A5A;
}

.hl-bg-error {
  background-color: #FBD9E1;
}

.b--hl-aqua {
  border-width: medium;
  border-color: #25bdc3;
}

.b--hl-yellow {
  border-color: #FDC300;
}

.b--hl-pink {
  border-color: #EC4067;
}

.b--hl-dark-blue {
  border-color: #242F4F;
}

.hl-input-error {
  outline: none;
  border: 1px solid #EC4067;
}

.hl-shadow-hover:hover {
  box-shadow:0px 2px 3px 1px rgba( 0, 0, 0, 0.2 )
}

/* Styleguide */

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
