/* This file is for your main application css. */

/*fonts*/
body {
  font-family: 'Didact Gothic', sans-serif;
  color: #242F4F;
}

button {
  border: none;
}
/*elements*/

.sidenav {
    width: 0;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    text-decoration: none;
    transition: 0.3s;
    display: block;
}

.pink {
  color: #F6679C;
}

.bg-pink {
  background-color: #ED576C;
}

.shadow-1--bottom {
  box-shadow: 0px 2px 4px 2px rgba( 0, 0, 0, 0.2 );
}

.bg-sky-blue {
  background-color: #55A9E5;
}

.bg-fly-high {
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
}

a:hover {
  color: #25bdc3;
}

input {
  height: 35px;
  background-color: #3D3D3D;
  opacity: 10%;
  border-radius: 5px;
}
input:focus {
  outline: none !important;
  border:1px solid #25bdc3;
}

/*color pallette*/
.hl-aqua {
  color: #25bdc3;
}

.hl-bg-aqua {
  background-color: #25BDC3;
}

.hl-pink {
  color: #EC4067;
}

.hl-bg-pink {
  background-color: #EC4067;
}

.hl-darkBlue {
  color: #242F4F;
}

.hl-bg-darBlue {
  background-color: #242F4F;
}

.hl-grey {
  color: #EBEBEB;
}

.hl-bg-grey {
  background-color: #EBEBEB;
}

.hl-dark-grey {
  color: #242F4F;
  opacity: 50%;
}

.hl-error {
  color: #25BDC3;
}

.hl-bg-error {
  background-color: #25BDC3;
}
