<h3 class="ma3 ma4-m ma4-l mv2 mv3-m mv4-l ">Goals</h3>
<%= if Kernel.length(@goals) == 0 do %>
  <%= link "Add new", to: goal_path(@conn, :new) %>
<%= end %>
<%= for goal <- @goals do %>
<div class="ma3 ma4-m ma4-l mv2 mv3-m mv4-l bg-light-silver">
  <p class="pv2 ph2 ph3-m ph4-l f5 f4-ns f3-m f2-l lh-copy">
    <%= markdown String.trim_trailing(goal.content, " #Goal") %>
  </p>
  <%= link "View", to: goal_path(@conn, :show, goal)%>
</div>
<% end %>
