  <div class="ma3 ma4-m ma4-l mv2 mv3-m mv4-l">
    <%= render "menu.html", conn: @conn %>

    <div class="mt5">

      <%= if !@slam_id do %>
        <%= render "profile.html", assigns %>
      <% end %>
    </div>

    <div class="mt5">
      <%= if @slam_id do %>
        <%= render "slam_connected.html", assigns %>
      <% end %>
    </div>
  </div>
