<div class="ma3 ma4-m ma4-l mv2 mv3-m mv4-l">
  <%= render "menu.html", conn: @conn %>

  <%= if !@slam_user do %>
    <%= render "profile.html", assigns %>
  <% end %>

  <%= if @slam_user do %>
    <%= render "slam_connected.html", assigns %>
  <% end %>
</div>
