<h3 class="tc">Account</h3>
<div class="w-100">
  <%= link "Profile", to: account_path(@conn, :index), class: "w-33 ba dib fl black tc pv1 bg-silver" %>
  <%= link "Security", to: account_path(@conn, :security), class: "w-33 ba dib fl black tc pv1 bg-silver" %>
  <%= link "Consent", to: account_path(@conn, :consent), class: "w-33 ba dib fl black tc pv1 bg-silver" %>
</div>
